{% extends 'base.html' %}
{% block title %}
Reminders
{% endblock %}
{% block style %}
<style>
    .month {
        height: 100%;
        width: 100%;
        border-style: solid;
        border-color: black;
        border-width: 2px;
        text-align: center;
    }

    .sat,
    .sun {
        color: red;
    }

    td {
        border-style: solid;
        border-width: 1px;
    }

    #reminder_form {
        margin: 1.5rem;
        text-align: center;
        width: 100%;
    }
</style>
{% endblock %}
{% block body %}
{% comment %} {% for reminder in reminders %}
{{ reminder }}
{% endfor %} {% endcomment %}
<div id="calendar_space" class="container">
    {% autoescape off %}
    {{ calendar }}
    {% endautoescape %}
</div>
<br>
<div class="row" style="text-align: center;">
    <div class="col-2">Left arrow</div>
    <div class="col-8 row">
        <div class="col-3"></div>
        <div class="col-6">
            <form class="row" action="" method="get">
                <input class="col-8" type="month" name="selected_month"
                    value="{% if selected_month %}{{ selected_month }}{% else %}{% now 'Y-m' %}{% endif %}">
                <input class="col-4" type="submit" value="Submit">
            </form>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="col-2">Right arrow</div>
</div>
<br>
<div class="row">
    <div id="reminder_form" class="col-lg-6 col-md-12 col-sm-12" style="text-align: center;">
        <form action="" method="post">
            <h5>Add reminder</h5>
            {% csrf_token %}
            <table style="max-width: 100%;">
                {% for field in reminder_form %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>
                        <div>
                            {{ field }}
                            <div>{{ field.errors }}</div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12" style="text-align: center; width: 100%; margin: 1.5rem;">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Heading</th>
                    <th>Body</th>
                    <th>DateTime</th>
                </tr>
            </thead>
            <tbody>
                {% for reminder in reminders %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ reminder.heading }}</td>
                    <td>{{ reminder.body }}</td>
                    <td>{{ reminder.scheduled_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}