{% extends 'apps/base.html' %}
{% load static %}
{% block title %}Assignment 5{% endblock %}
{% block style_scripts %}
<link rel="stylesheet" href="{% static 'assignment_5/css/5.css' %}">
{% endblock %}
{% block nav_title %}Assignment 5{% endblock %}
{% block next_url %}{% url 'assignments:4:main' %}{% endblock %}
{% block main %}
<div class="jumbotron">
    <h4>Task 1</h4>
    <div class="even-jumbotron">
        <p>
            Write an base class name Shape that have a abstract method: <i>def area()</i> 
        </p>
        <p>
            Also have a class method name <i>get()</i> which accepts a name of the shape and returns the child class object.
            Child classes will implement how to compute the area. 
        </p>
        <p>
            Take at least three child classes and show computed area for each shape
        </p>
    </div>
    <div class="even-jumbotron"></div>
</div>
<div class="jumbotron">
    <h4>Task 1</h4>
    <div class="even-jumbotron">
        <p>
            Write an base class name Shape that have a abstract method: <i>def area()</i> 
        </p>
        <p>
            Also have a class method name <i>get()</i> which accepts a name of the shape and returns the child class object.
            Child classes will implement how to compute the area. 
        </p>
        <p>
            Take at least three child classes and show computed area for each shape
        </p>
    </div>
    <div class="even-jumbotron"></div>
</div>
<div class="jumbotron">
    <h4>Task 1</h4>
    <div class="even-jumbotron">
        <p>
            Write an base class name Shape that have a abstract method: <i>def area()</i> 
        </p>
        <p>
            Also have a class method name <i>get()</i> which accepts a name of the shape and returns the child class object.
            Child classes will implement how to compute the area. 
        </p>
        <p>
            Take at least three child classes and show computed area for each shape
        </p>
    </div>
    <div class="even-jumbotron"></div>
</div>
{% endblock %}