<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <style>
        #a4:hover span{
            /* background: linear-gradient(teal, lightblue); */
            font-weight: bolder;
        }
        #a5:hover span{
            /* background: linear-gradient(red, orange); */
            font-weight: bolder;
        }
    </style>
</head>
<body>
    <div class="container" style="background-color: white; color: black; margin-top: 15%; margin-bottom: 15%; height: 65%; border-style: solid; border-width: 3px; border-color: black;">
        <br>
        <span style="text-align: left; font-family: 'Open Sans', sans-serif;">
            <h1>Hi there.</h1>
        </span>
        <br>
        <p style="font-size: 1.25rem; font-family: 'Open Sans', sans-serif;">
            Pick the assignment you want to see below:
        </p>
        <p style="font-size: 1.25rem; font-family: 'Open Sans', sans-serif;">
            <a id="a4" href="{% url 'assignments:4:main' %}" style="text-decoration: none; color: black; font-weight: normal;">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                    Assignment 4
               </span>
            </a>
        </p>
        <p style="font-size: 1.25rem; font-family: 'Open Sans', sans-serif;">
            <a id="a5" href="{% url 'assignments:5:main' %}" style="text-decoration: none; color: black; font-weight: normal;">
               <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                    Assignment 5
               </span>
            </a>
        </p>
        <br>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>